@model Crudisao.Models.PedidoItem

@{
    ViewData["Title"] = "AddToCart";
}

<h2>AddToCart</h2>

<h4>PedidoItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddToCart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produto" class="control-label"></label>
                @Html.EditorFor(p => p.Produto.Nome)
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
