@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Crudisao</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem vindo(a) - Crudisao Comercial</h2>
        <p>
            Crudisao é uma aplicação AspNet MVC Core 2.0 usando como ORM o Entity Framework Core.
            .
        </p>
    </div>
</div>
